<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/controllers.js"></script>

    <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }

         table tr:nth-child(even) {
            background-color: #ffffff;
         }
    </style>
</head>
<body>

<h1>Phone Gallery</h1>
<br/>
<div class="container-fluid" ng-controller="PhoneListCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

            <br/>
            <br/>
            <h3>Add Phone</h3>
            <form name="phoneForm" ng-submit="createPhone()" novalidate>
                Name: <input type="text" name="name" ng-model="phoneForm.name"/><br/>
                Age: <input type="text" name="age"  ng-model="phoneForm.age"/><br/>
                Carrier: <select ng-model="phoneForm.carrier" ng-options="obj.id as obj.name for obj in carriers">
                            <option value="">Please choose a carrier</option>
                         </select>
                Snippet: <textarea name="snippet" rows="4" ng.model="phoneForm.snippet"></textarea>
                <br/>
                <div>
                    <button type="button" ng-click="clearForm()">Clear</button>
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <!--Body content-->
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Carrier</th>
                    <th>Snippet</th>
                </tr>

                <tr ng-repeat = "phone in phones | filter:query | orderBy:orderProp">
                    <td>{{phone.name}}</td>
                    <td>{{phone.age}}</td>
                    <td>{{phone.carrier.name}}</td>
                    <td>{{phone.snippet}}</td>
                </tr>
           </table>
        </div>
    </div>
</div>

</body>
</html>
