<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/angular.js"></script>
    <script src="assets/js/controllers.js"></script>

    <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }

         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }

         table tr:nth-child(even) {
            background-color: #ffffff;
         }
    </style>
</head>
<body>

<h1>Phone Gallery</h1>
<br/>
<div class="container-fluid" ng-controller="PhoneListCtrl">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </div>
        <div class="col-md-10">
            <!--Body content-->
            <table>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Carrier</th>
                    <th>Snippet</th>
                </tr>

                <tr ng-repeat = "phone in phones | filter:query | orderBy:orderProp">
                    <td>{{phone.name}}</td>
                    <td>{{phone.age}}</td>
                    <td>{{phone.carrier.name}}</td>
                    <td>{{phone.snippet}}</td>
                </tr>
           </table>
        </div>
    </div>
</div>

</body>
</html>
